VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=pulse_learn_db
VITE_APPWRITE_STATS_COLLECTION_ID=
VITE_APPWRITE_PROGRESS_COLLECTION_ID=
VITE_APPWRITE_QUIZ_COLLECTION_ID=
VITE_APPWRITE_CHAT_COLLECTION_ID=
VITE_GEMINI_API_KEY=
